<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Edit Post - Blog Loom</title>
    <link rel="stylesheet" href="/styles/CreatePost.css">

    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/shared/app.css" />

<div class="position-post-and-nav-container">
<%- include("partials/header.ejs") %>

<div class="space"></div>
<div class="header-text"><h1 class="all-posts">Edit your Post</h1></div>

<form action="/update-post/<%= post.id %>?_method=put" method="post" id="blog-form">
        <input type="text" name="author" id="author" value="<%= post.author %>" required placeholder="Author" class="input">

        <input type="text" name="title" id="title" value="<%= post.title %>" required placeholder="Title" class="input"> 

        <div class="wrapper">
            <div id="editor-container"></div>
            <!-- Hidden input to store the Quill content -->
            <input type="hidden" name="content" id="content" value="<%- post.content %>">
            <!-- <button type="submit" class="save-button btn">Save</button> -->
        </div>

        <!-- <textarea name="content" id="content" required></textarea> -->

    <button type="submit" value="Submit" class="save-changes-btn">Save Changes</button>
</form>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="/javascripts/app.js"></script>

<%- include("partials/footer.ejs") %>