<!-- this is where all blog post will be displayed -->
<link rel="icon" type="image/png" href="/images/favicon.png">
<div class="position-post-and-nav-container">
    <%- include("partials/header.ejs") %>
        <% if (user) { %>
            <div class="greeting-msg-cont">
                <h1 id="greeting-msg">welcome <%= user.username %> </h1>      
            </div>
        <% } %>
    <% if (posts.length > 0) { %>
        <h1 class="all-posts">All Posts</h1>
        <div class="parent-post-container">
        <% posts.forEach(function(post) { %> <!-- create a new post and not let the previous one overrite the newer one -->
            <div class="post-container">
                <a href="/view/<%= post.id %>"> <!-- you click on the post to view -->
                    <div class="image-cont">
                        <img src="/images/<%= post._id %>">
                    </div>
                    <div class="post-category">
                        <h2><span class="category username"><%= post.category %></span></h2>
                    </div>
                    <h2>
                        <div class="title-cont">
                            <span class="title"><%= post.title %></span>
                        </div>
                        <div class="post-made-by">
                            <div class="profile-icon-cont">
                      
                            </div>
                                <div class="authorAndUsername">
                                    <br><span class="author"> by <%= post.author %></span> 
                                    <br><span class="username">(<%= post.user.username %>)</span>
                            </div>
                        </div>
                     </h2>
                     <h2><span class="date username">Published on 
                        <%= new Date(post.publishDate).toLocaleString("en-US", {
                                year: "numeric",
                                month: "short",
                                day: "numeric",
                                hour: "2-digit",
                                minute: "2-digit"
                     }) %>
                     </span></h2>
                </a>
            </div>
    <%  }) %>
        </div>
</div>
 <% } else { %>
    <div class="create-post-link">
        <h2 class="all-posts">No published post</h2>
            <a href="/create">Create a post</a>
        </div>
 <% } %>
 </div>

 <%- include("partials/footer.ejs") %>
