<!-- view specific blogpost -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles/CreatePost.css">
    <title><%= post.title %> - Blog Loom</title>
    <link rel="stylesheet" href="/styles/ViewPost.css">

<div class="position-post-and-nav-container">
<%- include("partials/header.ejs") %>

<div class="position-view-post-conatiner">
    <div class="view-post-conatiner">
        <h2>
           <span class="title"><%= post.title %></span>
           <div class="image-cont">
            <img src="/images/<%= post._id %>" id="view-post-image">
        </div>
            <br><span class="author"> by <%= post.author %></span> 
            <br><span class="username">(<%= post.user.username %>)</span>
        </h2>
            <%- post.content %>
    </div>
</div>

</div>

<%- include("partials/footer.ejs") %>